<%- include ejs_files/header.ejs %>
<%- include ejs_files/main_nav.ejs %>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<body background="\media\bg-bronze_image.jpg">
<main><div class="jumbotron">
<br>
<br>
<br>
<br>
  <div class="container2">
    <h1 class="display-10", href= "/home "><br>Book or Register for your gym classes <br>
with just one click</h1>
    <br>
    <h3>
    <!--the icon below when clicked takes to the task page-->
    <a class="button1" href="/tasks" role="button1"><span>Let's Get Fit</span></a>
    </h3>
    <br>
    <br>
    </div>
  </div>
</main>
<%- include ejs_files/bottom_nav.ejs %>
<%- include ejs_files/footer.ejs %>