<!--navbar for the task page-->
<nav class="navbar navbar-expand-small navbar-black bg-black">
  <div class="container-fluid">
  <!--the icon below when clicked takes to the homepage-->
    <a class="navbar-brand" href="/home"><img src= "\media\main_logo.png" class="mylogo"></a>
    <!--responsive navbar-->
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
     <!--me auto = margin-->
    <div class="collapse navbar-collapse" id="navbarSupportedContent">

        <ul class="nav navbar-nav navbar-right">        
        <li class="nav-item">
         <!--btn follows the link-->
        <a class="btn btn-warning btn-small" href="https://docs.google.com/forms/d/e/1FAIpQLScXHCN9CilQoh6yu76rfWIDDYGtF2TtE09-g6t3T9-_CZduHQ/viewform?usp=sf_link" role="button"> Feedback  <i class="fa-regular fa-comments"></i></a>
        </li>

        <li class='nav-item'>
        <a class="btn btn-warning btn-medium" href="https://www.youtube.com/watch?v=RiI1NkaDXlQ" role="button"> Time Management Tips  <i class="fa-brands fa-youtube"></i></a>
        </li>
    </div>
  </div>
</nav>
